body{
    background-color: rgb(255, 221, 175);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color:rgb(72, 69, 221);
    align-items: center;
    margin-top: 200px;
font-size: 200px;
}
p{ 
    color:rgb(72, 69, 221);
    align-items: center;
margin-top: -100px;
}
button{
    background-color: rgb(32, 94, 94);
    margin:10px auto;
    display: block;
    padding: 10px 20px ;
cursor: pointer;
border-radius: 8px;
width: 500px;
}
button:hover{
    background-color: aqua;
}
a{
    text-decoration: none;
    color:rgb(235, 238, 47)
}
a:hover{
    color:black;
}